<style>
        .toptopics{
            color: blue;
            font-size: medium;
            background-color: aliceblue;

        }
        button{
         background-color: #c92020;
      color: white;
      border: none;
      height: 36px;
      width: 105;
      border-radius: 2px;
      cursor: pointer;
        }
    </style>
    
   <style>
    .subscribe-button{
      background-color: #c92020;
      color: white;
      border: none;
      height: 36px;
      width: 105;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      vertical-align: top;
      
    }
    .subscribe-button:hover{
        background-color: aquamarine;
    }
    .join-button {
background-color: white;
border-color:rgb(0, 0, 255);
border-style: solid;
border-width: 2.5px;
color: rgb(0, 0, 255);;
height: 36px;
width: 62px; ;
border-radius: 2px;
cursor: pointer;
vertical-align: top;
}

.join-button:hover{
background-color:rgb(0, 0, 255);; ;
color:  white;;
}
.tweet-button{
    background-color:#1e6eca;
    color: white;
  margin-left: 3px;
  height: 36px;
  width: 73px;
border-radius: 16px;
border-style: solid;
border-color: lightblue;
font: bold;
font-size: 15px;
transition:  background color 0.25s ;
transition; box-shadow: 0.15s;
cursor: pointer;
vertical-align: top;

}
.tweet-button:hover{
background-color: rgb(0, 0, 255);
color: lightcoral;
opacity: 0.8;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13) ;

}
.tweet-button:active{
    opacity: 0.1;
}

.subtopics {
    background-color: white;
    color: blue;
    font-size: medium;
    font-style: oblique;
    text-align:left;
    font-weight: bold;
}
.toptopics {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.paragraphs {
    width: 900px;
    font-style: italic;
    line-height: 23px;
}
.fwba {
    margin-bottom: 20px;
    }
    .partner{
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: medium;
        font-weight: bold;
        background-color:red (227, 65, 64%);
        color: black;
    }
    .span {
       
    }
.span:hover{
    text-decoration: underline;
}

.image1{
    width: 200px;
    height: 300px;
    object-fit:contain;
    object-position: top;
    border-style: solid;
    border-color: green;
    display:block;
  }

  </style>